<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="CFUDBServicePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entities.ConditionType</class>
    <class>entities.BodyType</class>
    <class>entities.TransmissionType</class>
    <class>entities.VehicleType</class>
    <class>entities.Favourite</class>
    <class>entities.Advertisement</class>
    <class>entities.FuelType</class>
    <class>entities.Brand</class>
    <class>entities.Location</class>
    <class>entities.User</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/test?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      
    </properties>
    
<!--    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://127.5.133.2:3306/car4u?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="adminK15W5Yi"/>
      <property name="javax.persistence.jdbc.password" value="QTPFjA-ArLf_"/>
    </properties>-->
  </persistence-unit>
</persistence>
